*.gz
/.example_data
/.vscode
/config/fabric
/config/inventoryprofilesnext
/config/jei
/config/jei/world
/config/minihud
/config/worldedit/.archive-unpack
/config/worldedit/sessions
/crash-reports
/data
/essential
/journeymap
/local
/logs
/modernfix
/screenshots
config/fabric/indigo-renderer.properties
config/modernfix-mixins.properties
config/oculus.properties
fabricloader.log
hs_err_pid*.log
knownkeys.txt
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
supportercache.json
usercache.json
usernamecache.json

# Ignore all save folders
/saves/*
# Except don't ignore the default world
!/saves/Original world, will reset when pack updates/
# Except do ignore everything inside it
/saves/Original world, will reset when pack updates/**
# Except don't ignore these three files
!/saves/Original world, will reset when pack updates/icon.png
!/saves/Original world, will reset when pack updates/level.dat
!/saves/Original world, will reset when pack updates/level.dat.backup
# And do ignore the region folder
!/saves/Original world, will reset when pack updates/region/
# But don't ignore the first 4 region files around 0,0
!/saves/Original world, will reset when pack updates/region/r.0.0.mca
!/saves/Original world, will reset when pack updates/region/r.0.-1.mca
!/saves/Original world, will reset when pack updates/region/r.-1.0.mca
!/saves/Original world, will reset when pack updates/region/r.-1.-1.mca

