/essential
/journeymap
/saves
/modernfix
/logs
/logs
config/fabric/indigo-renderer.properties
config/oculus.properties
/logs
options.txt
*.gz
/crash-reports
fabricloader.log
config/oculus.properties
/config/jei
/config/fabric
/logs
usercache.json
